@charset "UTF-8";
/* html, body { margin: 0; padding: 0; height: 100%}
header { width: 100%; height: 15%; background: #0066ff;}
nav { width: 19%; height: 70%; float: left; background: #fff;}
section { width: 62%; height: 70%; float: left; background: #fff;}
aside { width: 19%; height: 70%; float: left; background: #fff;}
footer { width: 100%; height: 15%; clear: both; background: #0066ff;} */
body, button, input, select, table, textarea {
    font-size: 14px;
    line-height: 16px;
    color: #202020;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}
body.dark{
	--body-background: #666666;
}
header { position: relative; z-index: 2000;  border-bottom: 1px solid #e4e8eb;}
section { position: relative;
    width: 1130px;
    padding: 20px 30px;
    margin: 0 auto;
    letter-spacing: -.2px;
    background: #fff;}
footer {  
	width: 1130px;
    padding: 0 30px 92px;
    margin: 0 auto; 
 /*    background: #0066ff;  */
    clear: both;
    border-top: 1px solid #e4e8eb;
}

#footer .footer_inner {
    width: 1130px;
    padding: 0 30px 92px;
    margin: 0 auto;
    color: #e4e8eb;
}
#left-section {float: left;
    width: 750px; background: #fff;  border-radius: 0;}
#right-section {float: right;
    width: 320px; background: #fff;  border-radius: 0;}
/* #left-section {width: 60%; height: 94%; float: left; margin-left:2%; margin-top: 2%; background: #fff; border:1px solid black; border-radius: 0;}
#right-section {width: 34%; height: 94%; float: right; margin-right:2%; margin-top: 2%; background: #fff; border:1px solid black; border-radius: 0;} */

#top-inner{
	height: 135px;
	background: yellow;
}

#board-inner {
    width: 750px;
    margin-top: 12px;
    position: relative;
    
}
#board-inner-list{
	border:1px solid black;
}

#board-title {
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
}
#board-title:hover {
    color: #0066ff;
    font-size: 14px;
}

/* 버튼 영역 우측 정렬 */
#btnspace {
	margin: 5% 0% 0% 0%;
} 

/* div영역 테두리 둥글게 */
div {
	
	display: block;
}
#login-area{
	border:1px solid black;
	margin: 10% 5%;
	border-radius: 0;
	text-align: center;
	padding: 10% 0 0 0;
	background-color: #f7f9fa;
    border: 1px solid #dae1e6;
}

/* 회원가입 테이블 위치 */
#join-area {
    margin-left:auto; 
    margin-right:auto;
    
}
.top {
  caption-side: top;
}

#joinlink{
	text-align: right;
	margin: 0 5% 5% 0;
}

#login-form{
	text-align: center;
	margin: 10% 32% 20% 32%;
	padding: 8% 0% 5% 0%;
	border:1px solid black; 
	border-radius: 5%;
	
}

#login-input-form{
	padding: 0% 5%;
}

#housespace{
	color: #fff;
	background: #0066ff;
	margin: 10% 12% 0% 12%;
	text-align: center;
	padding: 1% 0%;
	border-radius: 10%;
}

#login-btn{
	width:90%; 
	height:10%;
}

#main-form{
	margin: 10%;
}
#myinfo{
	margin: 10%;
	text-align: center;
}
#homeicon{
	padding: 5%;
	 
}

.container{
	margin: 25% 0;
}
#housediv{
	border-radius: 10%;
}
 